@font-face {
  /*letras rosas*/
  font-family: "La Belle Aurore";
  src: url(fonts/LaBelleAurore-Regular.ttf);
}

@font-face {
  /*letras negras para */
  font-family: "PT Mono";
  src: url(fonts/PTMono-Regular.ttf);
}

@font-face {
  /*letras pixel*/
  font-family: "PressStart2P";
  src: url(fonts/PressStart2P-Regular.ttf);
}

body {
  font-family: "PT Mono";
}

.rojito {
  color: #e93f61 !important;
}

.blanquito {
  color: #fff;
}

.bg-rojo {
  background-color: #e93f61;
}

.btn-outline-rojo {
  text-decoration: none;
  color: #222034;
  background-color: #fff;
  border-color: #e93f61;
}

.info {
  width: 50vw;
}

.btn-outline-rojo:hover {
  text-decoration: none;
  color: #fff;
  background-color: #222034;
  border-color: #222034;
}

.btn-outline-rojo:active {
  text-decoration: none;
  color: #222034;
  background-color: #e93f61;
  border-color: #e93f61;
}

.btn-outline-rojo {
  text-decoration: none;
  color: #222034;
  background-color: #fff;
  border-color: #e93f61;
}

.btn-outline-rojo:hover {
  text-decoration: none;
  color: #fff;
  background-color: #222034;
  border-color: #222034;
}

.btn-outline-rojo:active {
  text-decoration: none;
  color: #222034;
  background-color: #e93f61;
  border-color: #e93f61;
}

.negrito {
  color: #222034 !important;
}

.pixel {
  font-family: "PressStart2P";
  font-size: 12px;
}

.c_reg {
  text-align: right;
  width: 80%;
  font-size: 5vw !important;
  line-height: 1em;
}

.c_reg:after {
  content: " ";
  display: block;
  border: #e93f61 2px dashed;
  height: 0px;
  width: 70%;
  position: relative;
  left: 50%;
  bottom: 1vw;
  z-index: -1;
}

​ .c_reg_elem {
  text-align: center;
  font-family: "PT Mono";
  color: #222034;
  font-size: 1em;
}

.mono {
  font-family: "PT Mono";
  font-size: 1vw;
}

.text1 {
  width: 40%;
  font-size: 200%;
  text-align: center;
  font-family: "PressStart2P";
  color: #222034;
  text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.text1-1 {
  width: 100%;
  font-size: 100%;
  text-align: center;
  font-family: "PressStart2P";
  color: #222034;
}

.text2 {
  width: 100%;
  font-size: 200%;
  text-align: 100% justify;
  font-family: "PressStart2P";
  color: #e93f61;
}

.ts-default {
  font-size: 24px;
}

.header-se {
  height: 980px;
  background-image: url(images/header.jpg);
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "La Belle Aurore";
  text-align: center;
}

.header-se h1 {
  font-size: 8em;
  color: white;
  mix-blend-mode: overlay;
  text-shadow: 0 4px 4px black;
}

.header-gradient {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  );
}

.h_cursive {
  color: #e93f61;
  font-family: "La Belle Aurore";
  font-size: 40px;
}

.cursive {
  color: #fff;
  font-family: "La Belle Aurore";
  font-size: 32px;
}

.rotate90 {
  transform: rotate(90deg);
  height: 347px;
  width: 250px;
}
.rotate270 {
  transform: rotate(270deg);
  height: 347px;
  width: 250px;
  align-items: center;
}

.float-leave {
  position: relative;
  display: inline-flex;
  top: 200px;
  right: 150px;
}

.diceweb {
  display: block;
}

.dicemob {
  display: none;
}

.d20 {
  position: relative;
  height: 200px;
  width: 200px;
  left: 55px;
}

.d10 {
  position: relative;
  height: 200px;
  width: 200px;
  right: 70px;
  top: 50px;
}

.rectangle {
  margin: auto;
  text-align: center;
  width: 60%;
  border: 5px solid #e93f61;
  border-radius: 23px;
  padding: 10px;
}

.dotted {
  padding: 10%;
  text-align: justify;
  border-style: dashed;
  border-width: 5px;
  border-radius: 23px;
  border-color: #e93f61;
}

.header-1 {
  height: 70%;
}

.header-2 {
  height: 10%;
}

.header-3 {
  height: 20%;
}

.gifs {
  width: 200px;
  image-rendering: pixelated;
}

.vestimenta {
  width: 100px;
  image-rendering: pixelated;
}

.regalos {
  width: 320px;
  image-rendering: pixelated;
}

.whats {
  width: 80px;
}

.gifs-m {
  display: none;
}

.inv-item {
  width: 80%;
  margin: auto;
  border: #e93f61 solid 10px;
  border-radius: 39px;
  padding: 10px;
}
#map {
  height: 400px;
  width: 100%;
}
.inv-int {
  border: #e93f61 dashed 5px;
  border-radius: 23px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.ob-red {
  border: #e93f61 solid 10px;
  border-radius: 39px;
  padding: 10px;
}

.ib-red {
  border: #e93f61 dashed 5px;
  border-radius: 23px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.ob-neg {
  border: #222034 solid 10px;
  border-radius: 39px;
  padding: 10px;
}

.ib-neg {
  border: #222034 dashed 5px;
  border-radius: 23px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.inv-text {
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

.flowers {
  height: 0;
}

.sm-flower {
  height: 0;
  position: relative;
  z-index: -1;
  top: 450px;
}

.leaves {
  position: relative;
  top: 300px;
  z-index: -2;
}

#novios {
  width: 90%;
  box-shadow: 4px 4px 13px rgba(34, 32, 52, 25%);
}

.space {
  height: 5vw;
}

.countdown {
  width: 60%;
}

.contenedor-gris {
  background-color: #f2f2f2;
}

.imagen-circular {
  border-radius: 50%;
  background-color: white;
  padding: 30px;
  width: 150px;
  height: 150px;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

#bocina {
  position: fixed;
  z-index: 100;
  image-rendering: pixelated;
}

/* wea de movimiento*/

.card,
.card-tilt-js {
  width: 400px;
  height: 500px;
  font-size: 1.75rem;
  color: #fff;
  background-color: #e84393;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  margin: 0 3rem;
}
.card h1,
.card-tilt-js h1 {
  transform: translateZ(50px);
}

/*reproductor de rolitas*/
#audioPlayer {
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .header-se {
    height: 480px;
    background-position: center;
  }

  .header-se h1 {
    position: relative;
    bottom: 3vw;
    font-size: 4em;
    bottom: 10vw;
  }

  .gifs {
    display: flex;
    width: 12vh;
    justify-content: center;
  }

  .info {
    width: 100%;
  }

  .text1 {
    width: 80%;
    font-size: 150%;
  }
  .h_cursive {
    font-size: 38px;
  }

  .c_reg {
    width: 100%;
    font-size: 2.5em !important;
  }

  #countdown {
    font-size: 100%;
  }

  .ts-default {
    font-size: 16px;
  }
  .inv-item {
    width: 95%;
  }

  .inv-int {
    padding-left: 5%;
    padding-right: 5%;
  }

  .texto-linea {
    font-size: 0.5em;
  }

  .flowers > img {
    width: 100%;
  }

  .sm-flower {
    width: 30%;
    top: 200px;
  }

  .leaves {
    top: 250px;
  }

  .countdown {
    width: 95%;
  }

  .columna {
    max-width: 100%;
  }

  .mono {
    font-family: "PT Mono";
  }

  .text2 {
    font-size: 100%;
  }

  .footer {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .diceweb {
    display: none;
  }

  .dicemob {
    display: inline-flex;
  }

  .dicemob > img {
    display: inline-flex;
  }

  .float-leave {
    top: 15vh;
    right: 15vh;
  }
}

@media screen and (max-width: 1100px) {
  .info {
    width: 90vw;
  }

  .pixel {
    font-size: 2vw;
  }
}
