@font-face {
  /*letras rosas*/
  font-family: "La Belle Aurore";
  src: url(fonts/LaBelleAurore-Regular.ttf);
}

@font-face {
  /*letras negras para */
  font-family: "PT Mono";
  src: url(fonts/PTMono-Regular.ttf);
}

@font-face {
  /*letras pixel*/
  font-family: "PressStart2P";
  src: url(fonts/PressStart2P-Regular.ttf);
}

body {
  font-family: "PT Mono";
}

.rojito {
  color: #e93f61;
}

.btn-outline-rojo {
  text-decoration: none;
  color: #222034;
  background-color: #fff;
  border-color: #e93f61; 
}


.btn-outline-rojo:hover {
  text-decoration: none;
  color: #fff;
  background-color: #222034;
  border-color: #222034;
}


.btn-outline-rojo:active {
  text-decoration: none;
  color: #222034;
  background-color: #e93f61;
  border-color: #e93f61;
}


.negrito {
  color: #222034;
}

.pixel {
  font-family: "PressStart2P";
}

.mono{
  font-family: "PT Mono";
  font-size: 1vw;
}

.text1 {
  width: 40%;
  font-size: 200%;
  text-align: center;
  font-family: "PressStart2P";
  color: #222034;
}

.text1-1 {
  width: 100%;
  font-size: 100%;
  text-align: center;
  font-family: "PressStart2P";
  color: #222034;
}

.text2 {
  width: 100%;
  font-size: 200%;
  text-align: 100% justify;
  font-family: "PressStart2P";
  color: #e93f61;
}

.ts-default {
  font-size: 24px;
}

.header-se {
  height: 980px;
  background-image: url(images/header.jpg);
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "La Belle Aurore";
  text-align: center;
}

.header-se h1 {
  font-size: 8em;
  color: white;
  mix-blend-mode: overlay;
  text-shadow: 0 4px 4px black;
}

.header-gradient {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  );
}

.belle{
  color: #e93f61;
  font-family: "La Belle Aurore";
  font-size: 4vw;
}

.h_cursive {
  color: #e93f61;
  font-family: "La Belle Aurore";
  font-size: 32px;
}

.rotate90 {
  transform: rotate(90deg);
  height: 347px;
  width: 250px;
}
.rotate270 {
  transform: rotate(270deg);
  height: 347px;
  width: 250px;
}

.d20 {
  position: relative;
  height: 200px;
  width: 200px;
}

.rectangle {
  margin: auto;
  text-align: center;
  width: 60%;
  border: 5px solid #e93f61;
  border-radius: 23px;
  padding: 10px;
}

.dotted {
  padding: 10%;
  text-align: justify;
  border-style: dashed;
  border-width: 5px;
  border-radius: 23px;
  border-color: #e93f61;
}

.header-1 {
  height: 70%;
}

.header-2 {
  height: 10%;
}

.header-3 {
  height: 20%;
}

.gifs {
  width: 200px;
  image-rendering: pixelated;
}

.gifs-m {
  display: none;
}

.inv-item {
  width: 80%;
  margin: auto;
  border: #e93f61 solid 10px;
  border-radius: 39px;
  padding: 10px;
}
#map {
  height: 400px;
  width: 100%;
}
.inv-int {
  border: #e93f61 dashed 5px;
  border-radius: 23px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.inv-text {
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

.flowers {
  height: 0;
}

.sm-flower {
  position: relative;
  z-index: -1;
  top: 450px;
}

.leaves {
  position: relative;
  top: 300px;
  z-index: -2;
}

@media screen and (max-width: 500px) {
  .header-se {
    height: 480px;
    background-position: center;
  }

  .header-se h1 {
    position: relative;
    bottom: 3vw;
    font-size: 4em;
    bottom: 10vw;
  }

  .gifs {
    display: flex;
    width: 12vh;
    justify-content: center;
  }

  .text1 {
    width: 80%;
    font-size: 150%;
  }
  .h_cursive {
    font-size: 38px;
  }
  .ts-default {
    font-size: 16px;
  }
  .inv-item {
    width: 95%;
  }

  .inv-int {
    padding-left: 5%;
    padding-right: 5%;
  }

  .texto-linea {
    font-size: 0.5em;
  }

  .flowers > img {
    width: 100%;
  }

  .sm-flower {
    width: 30%;
    top: 200px;
  }

  .leaves {
    top: 250px;
  }
}
