@font-face {
  font-family: "La Belle Aurore";
  src: url(fonts/LaBelleAurore-Regular.ttf);
}

@font-face {
  font-family: "PT Mono";
  src: url(fonts/PTMono-Regular.ttf);
}

@font-face {
  font-family: "PressStart2P";
  src: url(fonts/PressStart2P-Regular.ttf);
}

.rojito {
  color: #e93f61;
}

.header-se {
  height: 980px;
  background-image: url(images/header.jpg);
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "La Belle Aurore";
  text-align: center;
}

.header-se h1 {
  font-size: 8em;
  color: white;
  mix-blend-mode: overlay;
  text-shadow: 0 4px 4px black;
}

.header-gradient {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  );
}

.header-1 {
  height: 70%;
}

.header-2 {
  height: 10%;
}

.header-3 {
  height: 20%;
}

.gifs {
  width: 200px;
  image-rendering: pixelated;
}

.text1 {
  width: 40%;
  font-size: 200%;
  text-align: center;
  font-family: "PressStart2P";
  color: #222034;
}

@media screen and (max-width: 500px) {
  .header-se {
    height: 480px;
  }

  .header-se h1 {
    position: relative;
    bottom: 3vw;
    font-size: 4em;
    bottom: 10vw;
  }

  .gifs {
    display: flex;
    width: 12vh;
    justify-content: center;
  }

  .text1 {
    width: 80%;
    font-size: 150%;
  }
}
